:root {
  font-family: 'Inter', Arial, sans-serif;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  color: #4f4f4f;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: 100%;
  height: 100%;
  margin: 0 auto;
}

* {
  margin: 0;
  padding: 0;
}

html,
body,
#root {
  background: transparent;
}